




<!--navbar verte-->
<nav class="navbar navbar-expand-lg sticky-top navbarverte ">
    <div class="container-fluid d-flex justify-content-evenly ">
      <!--<a class="navbar-brand" href="#" > Resources Relationnelles </a>-->
        <div class="d-flex">
            <img src="../../../assets/img/ImageRessourcesRelationnelles.png" class="m-3 p-1" style="height: 70px ;" alt="">
        </div>
      <button class="navbar-toggler m-1 p-3 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item ">
            <a class="nav-link d-flex " aria-current="page" [routerLink]="['/home']" href="#"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/resources']" href="#"> Resources </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" [routerLink]="['/titi']" href="#"> titi </a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/articles']" href="#"> Articles  </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" href="#"> autre </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" href="#"> Administration </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-danger " type="submit">Déconexion</button>  
          </li>--> 
        </ul>
      </div>
    </div>
</nav>

<app-recherche-barre></app-recherche-barre>



