


<h2>{{button}}</h2>
<div class="box-content w-42 p-42">
    <div class="grid grid-rows-3 grid-flow-col gap-4">

    <div style="padding-bottom: 25px;">
        <button class=" text-white"><a href="/login" type='button' class="btn_categorie cadre" >CONNEXION</a></button>
  <div class="col-start-2 col-span-4 "><a href="/login" type='button' class="btn_categorie cadre"  >CREATION DE COMPTE </a></div>
  <div class="col-start-2 col-span-4 "><a href="/login" type='button' class="btn_categorie cadre" >CONSULTATION LIBRE</a></div>
    </div>
</div>
</div>