
#logo {
  height: 150px;
  width: 175px;
}
.cadre {
  border-radius: 10px;
}
.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
.label_entete {
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
}
.btn_categorie {
    color: #fff;
    background-color:  #03989e;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 100%;
    font-size: 0.7rem;
    width: 125%;
    height: 27px;
}
.cyan {
  color: #03989e;
}
.orange {
  color: #ffbd59;
}