
.imgEnTete{
    display: block;
    width: 90%;
    margin: auto;
}
.titreArticle{
    font-size: large;
    width: 90%;
    margin: auto;
    padding: 20px;
}
button{
    background-color: orange; 
    margin-left: 100px;
    padding: 10px;
    border-radius: 20%;
}
p{
    display: block;
    width: 90%;
    margin: auto;
    padding: 50px;
    
}
.vote{
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.dislike {
    width: 150px;
    height: auto;
}

.like{
    width: 150px;
    height: auto;
}


@media (max-width: 480px) {

    .button{
        background-color: orange; 
        margin-left: 20px;
        padding: 10px;
        border-radius: 20%;
    }
    .enTete{
        display: block;
        width: 50%;
        margin: auto;
    }
    .titreArticle{
        font-size:medium;
        margin: auto;
        width: 90%;
        padding: 50px;
    }
    p{
        display: block;
        width: 90%;
        margin: auto;
        
    }
    .dislike{
        width: 50px;
        height: auto;
    } 
    .like{
        width: 50px;
        height: auto;
    }
  }