
<!-- en dur -->
<div>
    
    <div class="container mt-3 mb-3">
        <img class="imgEnTete" src="../../../assets/img/stethoscope-840125_1280.jpg" alt="Photo de l'image santé">
    </div>
    
    <div class="container">
        <!--paragraphe -->
        <div>
            <h4 class="titreArticle">Titre de l'article </h4>
        </div>
        <button class="button mt-3 mb-3"> Santé </button>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet risus est. Praesent ut tortor et mauris posuere pellentesque. Duis sollicitudin pellentesque eros, et malesuada libero hendrerit a. Duis et tellus lectus. Phasellus vehicula nisi sed eros eleifend ultrices. Phasellus sit amet facilisis arcu. Sed aliquam eu turpis a tempus. Proin sed elementum dui. Pellentesque pellentesque elementum suscipit. Suspendisse in purus sit amet velit luctus blandit. Donec faucibus nec lorem aliquam pretium. Cras porta rutrum rutrum. Vestibulum et suscipit turpis.</p>
        </div>
    </div>

    <div class="container">

        <div class="vote">
            <a href="#"> <img class="dislike" src="../../../assets/img/pouceBaisse.png" alt="pouce levé"></a>
            <a href="#"> <img class="like" src="../../../assets/img/pouceLeve.png" alt="pouce baissé"> </a>
        </div>
    </div>

    
</div>
