
<!--navbar grise mettre en ligne--> 
<div class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-evenly"> 
    <div class="navbar-nav d-flex">
      <a class="nav-link" href="#">DATE</a>
      <a class="nav-link" href="#">TYPE</a>
    </div>
    <div>
      <div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success " type="submit">Search</button>
        </form>
      </div>
    </div>    
  </div>